# 🔐 Secrets & Environment
**/.env
**/.env.*
!.env.example
*.key
*.pem

# 🐍 Python
**/__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.python-version
.pytest_cache/
.mypy_cache/

# 🐳 Docker
.docker/
**/data/

# 🖥️ Operating System
.DS_Store
Thumbs.db
*.swp
*.log

# 💻 IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 📦 Dependency managers
node_modules/
.npm/
